html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

.container {
    background-image: url('/images/banner.jpeg');
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat; 
    width: 100%;
    height: 100vh;  
    display: flex;  
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    text-align: center;  
    color: white;  
    padding: 0 20px;  
}

.container::before {
    content: "";  
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: inherit;  
    background-size: cover;
    background-position: center;
    filter: brightness(50%);  
    z-index: -1;  
}  

/* Estilo para el texto */
.text h1 {
    font-size: 3em;
    font-family: "Anton SC", sans-serif;
    font-weight: 400;
    margin: 20px 0;
}

/* Estilo para los logos */
.logos {
    display: flex;
    justify-content: space-between;  
    align-items: center;
    width: 100%;  
    max-width: 600px;  
}

.logos img {
    height: 80px;  
    margin: 0 10px;  
}

/* Estilo para el botón */
.btn {
    margin-top: 30px;
}

.btn button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1.2em;
    cursor: pointer;
}

.btn button:hover {
    background-color: white;
    color: black;
}

/* Cambios para la transición */
.text h1, .logos, .btn {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Animación cuando los elementos se vuelven visibles */
.text h1.active, .logos.active, .btn.active {
    opacity: 1;
    transform: translateY(0);
}
